<body id="login-page">
  <div class="container">
    <form class="form-sign-in">
    <button class="btn-google"><%= link_to "Login with Google", '/auth/google', id: "login_google" %></button>
    </form>
  </div>
</body>
