<body id="login-page">
  <div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= button_to "Login with Google", '/auth/google', class: "btn btn-success btn-block btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</body>
