<div class="row">
  <div class="col-md-3"><div class="header"><h6>Category</h6></div></div>
  <div class="col-md-1"><div class="header"><h6>Original Budget</h6></div></div>
  <div class="col-md-1"><div class="header"><h6>Revised Budget</h6></div></div>
  <div class="col-md-5"><div class="contents"><h6>Estimated Costs</h6></div></div>
  <div class="col-md-1"><div class="contents"><h6>Remaining Budget</h6></div></div>
  <div class="col-md-1"><div class="contents"><h6>Requisitioned Costs</h6></div></div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-5">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-5">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-5">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-5">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-5">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
  <div class="col-md-1">
    <div class="contents">
    </div>
  </div>
</div>
