<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Projects</h3>
    </div>
    <div class="panel-body">
      <% @projects.each do |project| %>
        <p><%= link_to project.name, project_path(project), class: "project-name" %></p>
      <% end %>
    </div>
  </div>
</div>
