<div class="container mainbox">
  <div class="row">
    <div class="col-md-offset-2">
      <div class="panel panel-default col-md-8">
        <div class="panel-heading">
          <h2 class="panel-title">Create a New Project</h2>
        </div>
        <div class="panel-body">
            <%= render partial: 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
