/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.show {
  border-width: 1px;
  margin: .5px;
}
.show-heading {
  border-width: 1px;
  margin: 1px 0 1px 0;
  height: 70px;
}
div .show-heading {
  padding: 5px;
}
div .col-md-3.est-cost {
  padding-left: 0px;
  padding-right: 0px;
}
.frame {
  margin: 1px;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  padding-top: 2px;
  //border-color: black;
  //border-style: solid;
}
.inner_frame {
  //border-color: black;
  //border-style: solid;
  background-color: whitesmoke;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 0px;
  margin-right: 0px;
}
.inner_row {
  margin-left: 2px;
  margin-right: 2px;
}
.right-inner-border {
  border-right-style: solid;
  border-right-width: medium;
  border-right-color: lightgray;
}
.highlight {
  background-color: #ffffb3;
}
.section-highlight {
  background-color: #ffffb3;
  margin-top: 10px;
}
//.underline {
  //border-bottom-style: dotted;
  //border-bottom-width: 1px;
  //border-bottom-color: black;
//}
#welcome-page {
  padding-top: 50px;
  background: url('https://i.imgur.com/TGLyQQX.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#login-page {
  padding-top: 50px;
  background: url('https://i.imgur.com/TGLyQQX.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#window {
  padding-top: 50px;
  background: url('https://i.imgur.com/R59OiXT.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#concrete {
  padding-top: 50px;
  background: url('https://i.imgur.com/RE2ohcu.jpg?2');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
  position: relative;
  top: 100px;
  background: rgba(135, 135, 135, .6)
}
.jumbotron h1{
  text-align: center;
  font-family: sans-serif;
}
.jumbotron p{
  text-align: center;
}
.mainbox {
  margin-top: 100px;
}
