/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//div {
  //padding: 5px;
//}
//.contents {
  //padding: 5px;
  //border-color: black;
  //border-style: solid;
  //border-width: 1px;
  //height: 40px;
//}
//.header {
  //padding: 5px;
  //border-color: black;
  //border-style: solid;
  //border-width: 1px;
  //height: 40px;
//}
.show {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: .5px;
}
.show-heading {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 1px 0 1px 0;
}
#welcome-page {
  padding-top: 50px;
  background: url('https://i.imgur.com/TGLyQQX.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#login-page {
  padding-top: 50px;
  background: url('https://i.imgur.com/TGLyQQX.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
  position: relative;
  top: 100px;
  background: rgba(135, 135, 135, .6)
}
.jumbotron h1{
  text-align: center;
  font-family: sans-serif;
}
.jumbotron p{
  text-align: center;
}
.mainbox {
  margin-top: 100px;
}
